
{% extends 'base.html'%}
{%load static%}

{% block content %}
<div class="row col-md-12 container-fluid ms-1">
    <img class="col-md-7 m-2 card shadow" src="{% static 'media/imagen galeria 1.jpg' %}" alt="">
    <img class="col-md-4 m-2 card shadow" src="{% static 'media/imagen galeria 1.jpg' %}" alt="">
    <img class="col-md-3 m-2 card shadow" src="{% static 'media/imagen galeria 1.jpg' %}" alt="">
    <img class="col-md-4 m-2 card shadow" src="{% static 'media/imagen galeria 2.jpeg' %}" alt="">
    <img class="col-md-4 m-2 card shadow" src="{% static 'media/imagen galeria 2.jpeg' %}" alt="">
    <img class="col-md-4 m-2 card shadow" src="{% static 'media/imagen galeria 2.jpeg' %}" alt="">
    <img class="col-md-5 m-2 card shadow" src="{% static 'media/magen galeria 3.jpg' %}" alt="">
    <img class="col-md-4 m-2 card shadow" src="{% static 'media/imagen galeria 3.jpg' %}" alt="">
    <img class="col-md-6 m-2 card shadow" src="{% static 'media/imagen galeria 3.jpg' %}" alt="">


</div>

{% endblock %} 