
{% extends 'base.html'%}
{%load static%}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="row col-md-4 m-1 border rounded-3  " style="font-family: Arial, Helvetica, sans-serif;">
            <h2 class=" mb-4">Nuestra Historia</h2>
            <p>Bienvenido a Hassber, un negocio familiar con raíces profundas en la hermosa comuna de Viña del Mar. Nuestra historia se remonta al año 2018, cuando decidimos embarcarnos en una aventura empresarial impulsados por nuestra pasión por la creatividad y el emprendimiento.</p>
            <p>Desde nuestros modestos comienzos en el garage de nuestra casa, nos hemos dedicado con fervor a proporcionar a nuestros clientes los mejores insumos para sublimación y estampados. Con el tiempo, nuestro compromiso con la calidad y el servicio al cliente nos ha permitido crecer y convertirnos en un referente en nuestra comunidad.</p>
            <p>Lo que comenzó como un sueño compartido entre familiares se ha convertido en una empresa próspera y en constante evolución. Nuestro compromiso con la excelencia nos ha llevado a expandir nuestro catálogo de productos y servicios, siempre manteniendo nuestra atención en las necesidades y deseos de nuestros clientes.</p>
            <p>En Hassber, no solo ofrecemos productos de alta calidad, sino que también valoramos profundamente las relaciones con nuestros clientes. Nos enorgullece brindar un servicio personalizado y atención al detalle en cada interacción.</p>
            <p>A medida que miramos hacia el futuro, estamos emocionados por continuar creciendo y sirviendo a nuestra comunidad. Nos comprometemos a seguir siendo una fuente confiable de inspiración y soluciones para todos tus proyectos de sublimación y estampados.</p>
            <p>¡Gracias por ser parte de nuestra historia y por elegirnos como tu socio en la creatividad!</p>
        </div>
        <div class="row col-md-7 m-1" style="font-family: Arial, Helvetica, sans-serif;">
            <img class="border rounded-3" src="{% static 'media/imagen galeria 1.jpg' %}" alt="" srcset="">
            
            
        </div>
    </div>
</div>

{% endblock %} 