{% extends 'base.html'%}
{%load static%}






{% block content %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light shadow border border-light me-2 rounded-3 " style="background-color: #48426b56" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nuestros Productos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#section1">Tazones</a></li>
          <li><a class="dropdown-item" href="#section2">Tintas</a></li>
          <li><a class="dropdown-item" href="#section3">Papel Sublimacion</a></li>      
          <li><a class="dropdown-item" href="#">Producto 2</a></li>
        </ul>
      </li>
      <li class="ms-5 ps-5 container-fluid ">
        <a href="https://w.app/hassber">
        <img src="MEDIA/whatsapp logo.png" alt="" srcset="" width="45px" height="45px">
        </a>
        <img src="MEDIA/llamada-telefonica.png" alt="" srcset="" width="45px" height="45px">
        Llamados y WhatsApps ,
        +(56) 9 5520 1196
      </li>

    </ul>
    <form class="d-flex">
      <button class="card btn btn-outline-success text-light border border-light me-2" style="background-color: #48426b56" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Logeate!</button>
      <button class="card btn btn-outline-success text-light border border-light me-2" style="background-color: #ffc107;"  type="button" onclick="location.href='formulario.html'">Registrarse</button>
    </form>
  </div>
</div>
</nav>

<section id="main-section " class="my-5 container-fluid">
<div class="row m-3 justify-content-center">

  <div class=" col-md-10 d-flex justify-content-center  rounded-3  shadow border border-light" style="background-color:#65c4c4;" >
    <h1 class="col-md-12 d-flex justify-content-center ">NUESTROS PRODUCTOS</h1>
  </div>

</div>
<div class="col-md-12 d-flex justify-content-center row m-3">
    {% for producto in productos %}
    <div id="section1" class=" col-md-4 d-flex justify-content-center m-1 border-light  shadow border border-light " style="background-color: rgb(236, 236, 226);"  >
        <div class=" card row col-md-3  d-flex justify-content-center m-1 pt-2 rounded-3  opacity-75 shadow border border-light " style="background-color: #65c4c4" >
            
            <img  width="200px" height="200px" src="MEDIA/tazon sublimacion magico.jpg" alt="TazonSublimacion" srcset=""><br>
            <h3 class="col-md-2 d-flex">{{producto.nombre}}</h3>
            <p class="col-md-2 d-flex">{{producto.categoria}}</p>
            <p class="col-md-2 d-flex">{{producto.precio}}$</p>
            <a href="{% url 'Add' producto.id %}" class="btn-btn-primary">Agregar al carrito</a>
         </div>
    
    </div>

    {% endfor %}


    
</div>

</div>
</section>



{% endblock %}